<form style="width: 350px;position: relative;
left: 38%;">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="name"><b>Name:</b></label>
      <input type="text" placeholder="Enter Name" name="name" id="uname" [(ngModel)]="name"><br><br>
      <label for="email"><b>Email:</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" [(ngModel)]="email"><br><br>
  
      <label for="psw"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" [(ngModel)]="password"><br><br>
  
      <label for="psw-repeat"><b>Repeat Password:</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" [(ngModel)]="cpassword"><br><br>
      <label for="psw-repeat"><b>Gender</b></label> <br><br>
      <input type="radio" [(ngModel)]="gender" (change)="genderfun($event)" value = "male" name="gender"> Male
      <input type="radio"  [(ngModel)]="gender" (change)="genderfun($event)" value = "female" name="gender"> FeMale <br><br>

      <label for="psw-repeat"><b>Technologies</b></label> <br><br>
      <input type="checkbox" (change)="technologyfun($event)" value = "Angular" > Angular
      <input type="checkbox" (change)="technologyfun($event)" value = "Java" > Java
      <input type="checkbox" (change)="technologyfun($event)" value = "Nodejs" > Nodejs
      <input type="checkbox" (change)="technologyfun($event)" value = "dotnet" > dotnet<br><br>

      <label for="language"><b>Languages</b></label> <br><br>
      <input type="checkbox" (change)="language($event)"  value = "Telugu" > Telugu
      <input type="checkbox" (change)="language($event)" value = "English" > English
      <input type="checkbox" (change)="language($event)" value = "Others" > Others


      <hr>
  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="button" (click)="registration()" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form>
  <div>
    <table id="emptable">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Technology</th>
          <th>Languages</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let emp of empd">
          <td>{{emp.name}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.gender}}</td>
          <td>{{emp.tecnologies}}</td>
          <td>{{emp.languages}}</td>
         <td>Edit</td>
         <!-- <td>Delete</td> -->
         <!-- <td><input type="button" value="Delete" (click)="delfun()"> -->
        <!-- </td> -->
        </tr>
      </table>
</div>



<!-- <h1>Registrationform</h1>
<label for="id">ID:</label>
<input type="text" [(ngModel)]="id"/><br><br>
<span>Name:</span>
<input type="text" [(ngModel)]="name"><br><br>
<label for="gender">Gender:</label>
<input type="radio" (change)="select($event)" name="gender">Male
<input type="radio" (change)="select($event)" name="gender">Female<br><br>
<label for="csalary">CurrentSalary:</label>
<input type="text" [(ngModel)]="csalary"><br><br>
<label for="tech">Technologies:</label>
<input type="checkbox">Nodejs
<input type="checkbox">Angular
<input type="checkbox">Java
<input type="checkbox">Database<br><br>
<input type="button" (click)="save()" name="save" value="Save">

<div>
    <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Current Salary</th>
          <th>Technology</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let emp of empd">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.g}}</td>
          <td>{{emp.cs}}</td>
          <td>{{emp.tec}}</td>
         <td>Edit</td>
         <td>Delete</td>
        </tr>
      </table>
</div>
 -->
