
<p>story1 works!</p>
<div> This is {{empname}}</div>
<input type="button" (click)="emp()" value="even"><br>
<input type="button" value="rivise" (click)="rivise()"><br>
<input type="text" [placeholder]="change"><br>
<input type="text" [style.color]="cchange">
<input type="button" (click)="over()" value= "clickme"><br>
<h1 *ngIf="isover">welcome</h1>
<input type="button" value="hide" (click)="sdir()">
<ul>
    <li *ngFor="let v of list">{{v}}</li>
</ul>
<!-- <ul>
    <li *ngFor="empd of records">{{empd}}</li>
</ul> -->
<table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Current Salary</th>
      <th>Technology</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let emp of empd">
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.g}}</td>
      <td>{{emp.cs}}</td>
      <td>{{emp.tec}}</td>
     <td>Edit</td>
     <td>Delete</td>
    </tr>
  </table>